= gitlab_ui_form_for @project, url: project_path(@project), html: { multipart: true, class: 'gl-show-field-errors js-general-permissions-form' }, authenticity_token: true do |f|
  = form_errors(@project)

  %fieldset
    -# %h5= _('Customer relations')
    .form-Project.gl-mb-3
      = f.gitlab_ui_checkbox_component :push_protection_enabled,
          s_('ProjectSettings|Enable push protection'),
          checkbox_options: { checked: @project.push_protection_enabled? == "1" },
          help_text: s_('ProjectSettings|Enable push protection to prevent leaking secrets')

  = f.submit _('Save changes'), pajamas_button: true, class: 'gl-mt-3 js-dirty-submit', data: { qa_selector: 'save_permissions_changes_button' }
